<!DOCTYPE html>
<html>
<head>
  <title>TradeTraker Assesment</title>
  <meta charset="UTF-8">
</head>
<body>
<h1 style="font-family:verdana">TradeTracker DevOPS Assesment</h1>
<hr>
<p><b style="font-family:verdana">Following are the tasks which we are doing here in this Assesment: </p></b>
<pre><p>
    <b>a. <a href="http://ec2-52-23-157-11.compute-1.amazonaws.com/assesment/setup">setup</a>
    Purpose:</b> Prepare nodes for load balancer upon receiving GitHub push event.

    <b>b. <a href="http://symfony-web-app-987391500.us-east-1.elb.amazonaws.com/assesment/test">test</a>
    Purpose:</b> Testing end point where you are required to generate random record with 3 attributes 
    (first name, last name, age) and insert it into a PostgreSQL DB.

    <b>c. <a href="http://ec2-52-23-157-11.compute-1.amazonaws.com/assesment/takedown">takedown</a>
    Purpose:</b> Remove a node from the PostgreSQL cluster.

    <b>d. <a href="http://ec2-52-23-157-11.compute-1.amazonaws.com/assesment/transfer">transfer</a>
    Purpose:</b> Move data currently stored in PostgreSQL in NoSQL engine.

    <b>e. <a href="http://ec2-52-23-157-11.compute-1.amazonaws.com/assesment/count">count</a>
    Purpose:</b> Return the count of records stored in NoSQL engine.

    <b>f. <a href="http://ec2-52-23-157-11.compute-1.amazonaws.com/assesment/teardown">teardown</a>
    Purpose:</b> Dispose-off resources.

</pre></p>
</body>
</html>
