<html>
<head><title>Setting up Infrastructure for testing.</title></head>
<body>
<h2>{{ msg }} </h2>
<p> {{ msg1 }} </p>
<pre>
    <b> URL for testing </b> : {{ "http://#{elb}/assesment/test" }}
</pre>
</html>


