#cloud-config
preserve_hostname: true
manage_etc_hosts: false
bootcmd:
 - cloud-init-per instance my_set_hostname sh -xc "echo puppetmaster-stage > /etc/hostname; hostname -F /etc/hostname"
 - cloud-init-per instance my_etc_hosts sh -xc "sed -i -e '/^127.0.1.1/d' /etc/hosts; echo 127.0.1.1 puppetmaster-stage.tradetracker.net.in puppet puppetmaster-stage >> /etc/hosts"
apt_sources:
 - source: "deb http://apt.puppetlabs.com $RELEASE main"
   keyid: 4BD6EC30
   filename: puppetlabs.list
packages:
 - wget
 - unzip
 - git
 - puppetmaster-passenger
 - ruby
 - ruby-dev
 - python-pip
write_files:
 - content: |
    moduledir "/etc/puppet/modules"
    mod 'example42-puppi'
    mod 'example42-yum'
    mod 'garethr-erlang'
    mod 'jfryman-nginx'
    mod 'maestrodev-wget'
    mod 'mayflower-php'
    mod 'nanliu-staging'
    mod 'puppetlabs-apt' , '1.8.0'
    mod 'puppetlabs-concat'
    mod 'puppetlabs-inifile'
    mod 'puppetlabs-mcollective'
    mod 'puppetlabs-stdlib'
    mod 'puppetlabs-vcsrepo'
    mod 'richardc-datacat'
    mod 'terc-xmlfile'
    mod 'yo61-logrotate'
    mod 'golja-ioncubeloader' 
    mod 'KyleAnderson-consul'
    mod 'saz-vim'
   path: /etc/puppet/Puppetfile
 - content: |
    [main]
    logdir=/var/log/puppet
    vardir=/var/lib/puppet
    ssldir=/var/lib/puppet/ssl
    rundir=/var/run/puppet
    factpath=$vardir/lib/facter
    dns_alt_names = puppet,puppet.tradetracker.net.in,puppetmaster-stage,puppetmaster-stage.tradetracker.net.in 
    environmentpath = $confdir/environments
    [master]
    # These are needed when the puppetmaster is run by passenger
    # and can safely be removed if webrick is used.
    ssl_client_header = SSL_CLIENT_S_DN 
    ssl_client_verify_header = SSL_CLIENT_VERIFY
    autosign=true 
   path: /etc/puppet/puppet.conf 
 - content: |
    environment_timeout = 0
    modulepath = $confdir/modules:modules
   path: /etc/puppet/environments/stage/environments.conf
runcmd:
 - pip install awscli
 - gem install librarian-puppet
 - gem install deep_merge
 - gem install r10k
 - rm /etc/hiera.yaml
 - service apache2 restart
 - cd /etc/puppet/ ; r10k puppetfile install
 - chown -R puppet:puppet /etc/puppet/modules
 - mkdir /etc/puppet/environments/stage
ssh_authorized_keys:
 - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/hXyKjdxFaYB6xW56bL7JaV9ImLQqac1nACNRdEkgoc4JbA9rch7zbjvBLB3KFeUBwlAwfrGjbFy8iOhQIfEtHZ4K9tXA20pTWBV7sOgYMw/g1BHapOjPtPD723epdJplcOyGWz4icUf5iGFoCenBHQYR7i+HUE5zQvmE/7ML68Hs3Pcbc9KmqAjcgXHem/esWbIJYIBe73+uomoT7J+BhBn5HBw4RK+6ylbdnz4GgqWpRtVLJdxwdIXUZt9GkVuNQuLA6s4l9FIHVkmmQVge++vJVcjwF+nCZoxGgUJ42NtTmfOdQ1nFaaW9xephCXKWDUkH/2OQ28YDcXRBtKej abhishektomar
