#cloud-config
preserve_hostname: true
manage_etc_hosts: false
# dynamically set hostname using the instance's instanceid PLUS specific Cluster name
bootcmd:
 - cloud-init-per instance my_set_hostname sh -xc "echo pgpool-$INSTANCE_ID > /etc/hostname; hostname -F /etc/hostname"
 - cloud-init-per instance my_etc_hosts sh -xc "sed -i -e '/^127.0.1.1/d' /etc/hosts; echo 127.0.1.1 pgpool-$INSTANCE_ID.pgpool.tradetracker.net.in pgpool-$INSTANCE_ID >> /etc/hosts"
 - cloud-init-per instance my_etc_hosts_puppet sh -xc "echo 10.10.1.162 puppetmaster-stage.tradetracker.net.in puppet >> /etc/hosts"
apt_update: true
apt_upgrade: false
apt_sources:
 - source: "deb http://apt.puppetlabs.com $RELEASE main"
   keyid: 4BD6EC30
   filename: puppetlabs.list
packages:
 - wget
 - unzip
 - git
 - puppet
 - ruby
 - ruby-dev
 - python-pip
 - ntp
runcmd:
 - gem install librarian-puppet
write_files:
 - content: |
    [main]
    logdir = /var/log/puppet
    vardir = /var/lib/puppet
    ssldir = /var/lib/puppet/ssl
    rundir = /var/run/puppet
    factpath = $vardir/lib/facter
    
    [master]
    ssl_client_header = SSL_CLIENT_S_DN
    ssl_client_verify_header = SSL_CLIENT_VERIFY
    
    [agent]
    environment = stage
    server = puppetmaster-stage.tradetracker.net.in
   path: /etc/puppet/puppet.conf
 - content: |
    cluster=pg
   path: /etc/facter/facts.d/pg.txt
   owner: root:root
   permissions: '0644'
ssh_authorized_keys:
 - ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC/hXyKjdxFaYB6xW56bL7JaV9ImLQqac1nACNRdEkgoc4JbA9rch7zbjvBLB3KFeUBwlAwfrGjbFy8iOhQIfEtHZ4K9tXA20pTWBV7sOgYMw/g1BHapOjPtPD723epdJplcOyGWz4icUf5iGFoCenBHQYR7i+HUE5zQvmE/7ML68Hs3Pcbc9KmqAjcgXHem/esWbIJYIBe73+uomoT7J+BhBn5HBw4RK+6ylbdnz4GgqWpRtVLJdxwdIXUZt9GkVuNQuLA6s4l9FIHVkmmQVge++vJVcjwF+nCZoxGgUJ42NtTmfOdQ1nFaaW9xephCXKWDUkH/2OQ28YDcXRBtKej abhishektomar
